extends layout

block content
  div(id='allblockproducers', 'data-chain-name'=chainname, 'data-active-block-producers'=activeblockproducers, 'data-backup-block-producers'=backupblockproducers )
  script(src="/bin/app.js")

