extends layout

block content
  div(id='allblockproducers', 'data-chain-name'=chainname, 'data-active-block-producers'=activeblockproducers, 'data-backup-block-producers'=backupblockproducers, 'data-chain-addr'=chainaddr, 'data-chain-port'=chainport, 'data-chain-id'=chainid )
  script(src="/bin/app.js")

