extends layout

block content
  div.pageheader
    div.pageheaderitem
      img.eoslogo(src='/images/Logo-dark-landscape-v2-1.png')
    div.centre-header
      h1.centre-h1 Telos Voter
  div.pageheader-spacer
  div.content-container
    div !{message}
    a(href='/') Go back
