body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background-color: #EEE;*/
  margin: 0px;
  padding: 0px;
}

a {
  color: #00B7FF;
}

.eoslogo {
  height: 70px;
}

.block-producer-column-header {
    font-weight:bold;
}

.centre-header {
  width: 100%;
  color: #eee;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 28px;
}

.pageheader {
  background-color: #333;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.pageheaderitem {
  display: inline-block;
  margin: 10px;
}

.signupbuttoncontainer {
  float: right;
}

.signupbutton {
  height: 50px;
  width: 170px;

  background-color: #333;
  border: 3px solid white;
  color: white;
  font-size: 16px;
  border-radius: 8px;

  position: absolute;
  top: 50%; left: calc(100% - 50px - 50px);
  transform: translate(-50%,-50%);
}

.signupbutton:hover {
  background-color: #FFF;
  border: 3px solid black;
  color: black;
}

.centre {
    text-align: center;
}

.centre-h1 {
    text-align: center;
    margin: 0px;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}

div.block-producer-row:nth-child(even) {
  background-color: #CCC;
}

div.block-producer-row:nth-child(odd) {
  background-color: #E8E8E8;
}

.block-producer-cell {
  border: 1px solid white;
  display: inline-block;
  font-size: 16px;
  padding: 10px;
}

.block-producer-cell-1 {
  width: 10%;
  text-align: right;
}

.block-producer-cell-2 {
  width: 40%;
}

.block-producer-cell-3 {
  width: 20%;
}

.right {
  text-align: right;
}

.block-producer-cell-4 {
  width: calc(30% - 89px);
}

.content-container {
  margin: 20px;
  padding: 20px;
  border: 1px lightgrey solid;
}

.float-right-cell {
  float: right;
  margin: 0px;
  padding: 0px;
}

